<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<body>
<div th:fragment="cssAndJS">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/backstage/my_jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="css/backstage/my_jwgl.css">
    <script src="js/backstage/my_jquery.min.js"></script>
    <script src="js/backstage/my_jquery.mobile-1.4.5.min.js"></script>
    <script src="js/backstage/my_vue.min.js"></script>
    <script src="js/backstage/my_axios.min.js"></script>
    <script src="js/backstage/my_qs.min.js"></script>
</div>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/backstage/my_jquery.mobile-1.4.5.min.css">
<link rel="stylesheet" href="css/my_jwgl.css">
<script src="js/backstage/my_jquery.min.js"></script>
<script src="js/backstage/my_jquery.mobile-1.4.5.min.js"></script>
<script src="js/backstage/my_vue.min.js"></script>
<script src="js/backstage/my_axios.min.js"></script>
<script src="js/backstage/my_qs.min.js"></script>
<div th:fragment="header">
    <div data-role="header" style="background-color: steelblue" data-position="fixed">
        <a href="/GoMobileHomePage" class="ui-btn ui-shadow ui-corner-all ui-icon-home ui-btn-icon-notext"
           style="background-color: steelblue"></a>

        <h1>北京化工大学教务网</h1>

    </div>
</div>
</body>
</html>