@charset "utf-8";
.hidden{ display:none;}

/*----------------- 错误提示 -----------------*/
.error_v5{ width:300px; height:auto;margin:0 auto; position:relative; z-index:1;}
.error_v5 .error_ico{ position:absolute; z-index:2; right:0px; top:0px; background:url(../images/ico_error.png) 0px 0px no-repeat; height:180px; width:166px;animation:myfirst 4s infinite;-moz-animation:myfirst 4s infinite;-webkit-animation:myfirst 4s infinite;-o-animation:myfirst 4s infinite;} 
.error_v5 .error_ico i{ display:block; width:166px; height:180px; background:url(../images/ico_error.png) 0px -180px no-repeat; overflow:hidden;}
.error_v5 .error_ico i.error1{ background-position:0px -180px;}
.error_v5 .error_ico i.error2{ background-position:0px -360px;}
.error_v5 .error_ico i.error3{ background-position:0px -540px;}
.error_v5 .error_ico i.error4{ background-position:0px -720px;}
.error_v5 .error_con{  width:100%; height:auto; padding-top:150px; overflow:hidden;}
.error_v5 .error_con .error_title{ color:#333333; font-size:36px; font-family:"microsoft YaHei"}
.error_v5 .error_con .error_text{ color:#333333; font-size:24px; font-family:"microsoft YaHei"; height:auto !important; height:32px; min-height:32px;}
.error_v5 .error_con .error_text2{ color:#666666; font-size:14px; font-family:"microsoft YaHei"; line-height:32px; height:auto !important; height:32px; min-height:32px; margin-top:10px;}
.error_v5 .error_con .error_text2 .time{ margin-right:3px;}
.error_v5 .error_con .error_text2 .go_back0{ display:block; float:right; width:74px; height:25px; background:#ff9c00; border-radius:2px; color:#ffffff; font:bold 14px/25px SimSun; text-align:center; margin-right:50px;}
.error_v5 .error_con .error_link{ width:100%; height:20px; margin:20px 0px 50px 0px;}
.error_v5 .error_con .error_link a{ display:block; float:left; color:#666666; font:normal 12px/20px SimSun;}
.error_v5 .error_con .error_link a.go_index{ float:left;}
.error_v5 .error_con .error_link a.go_index i{ display:inline-block; margin-right:5px; background:url(../images/ico_error.png) 0px -900px no-repeat; width:20px; height:20px; float:left;}
.error_v5 .error_con .error_link a.go_back{ float:right;}
.error_v5 .error_con .error_link a.go_back i{ display:inline-block; background:url(../images/ico_error.png) -40px -895px no-repeat; width:20px; height:20px; float:left;}

@-webkit-keyframes loading {from {-webkit-transform:rotate(0deg) translateZ(0);}to { -webkit-transform: rotate(360deg) translateZ(0);}}
@keyframes myfirst
{
0%{top:0px;}50%{top:-15px;}100%{top:0px;}
}
@-moz-keyframes myfirst /* Firefox */
{
0%{top:0px;}50%{top:-15px;}100%{top:0px;}
}
@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%{top:0px;}50%{top:-15px;}100%{top:0px;}
}
@-o-keyframes myfirst /* Opera */
{
0%{top:0px;}50%{top:-15px;}100%{top:0px;}
}

/*----------------- 升级提示 -----------------*/
.ico_browser{ background:url(../images/ico_sjts.png) -9999px -9999px no-repeat;}
.tips{ width:690px; margin:0 auto; overflow:hidden;}
.tips .t1{ color:#666666; font:normal 24px/40px "microsoft YaHei";}
.tips .t1 span{ float:left;}
.tips .ie{ display:inline-block; float:right; width:150px; height:38px; border:1px solid #cccccc; border-radius:5px; }
.tips .ie8{background-position:0px -90px;}
.tips .ie9{background-position:10px -132px;}
.tips .ie:hover{ border-color:#0f6ea6}
.tips .browser_list{ margin:30px 0px 0px 130px;height:auto; overflow:hidden}
.tips .browser_list li{ float:left;}
.tips .browser_list li a{ display:block;width:131px;height:139px; border:1px solid #cccccc; border-color:#fff;border-radius:5px; color:#666666; font:normal 24px/40px "microsoft YaHei"; text-align:center; text-decoration:none; padding-top:20px; }
.tips .browser_list li a:hover{border-color:#cccccc;}
.tips .browser_list li i{ display:block; width:65px; height:65px; margin:0 auto;}
.tips .browser_list li .c{ background-position:0px 0px;}
.tips .browser_list li .f{ background-position:-72px 0px;}
.tips .browser_list li .s{ background-position:-150px 0px;}

.tips_top{ width:100%; height:35px; background:#666666; position:fixed; top:0px;}
.tips_top1{position:fixed; top:45px;}
.tips_top .close{ display:block; width:35px; height:35px; position:absolute; top:0px; right:0px;filter:alpha(opacity=100);opacity:1}
.tips_top .close i{ display:block; width:11px; height:11px; background-position:-109px -72px; margin:12px;}
.tips_top span{ color:#ffffff; font:normal 12px/35px "microsoft YaHei"; float:left;}
.tips_top .browser_list{ float:left; margin-left:20px;}
.tips_top .browser_list li{ float:left; margin-right:12px; padding-right:12px; border-right:1px solid #979696; height:22px; margin-top:6px; line-height:22px;}
.tips_top .browser_list li a{ color:#fff; font:normal 12px/22px "microsoft YaHei";}
.tips_top .browser_list li a i{ display:block; width:22px; height:22px; float:left; margin-right:10px;}
.tips_top .browser_list li a i.c{ background-position:-27px -66px;}
.tips_top .browser_list li a i.f{ background-position:-51px -66px;}
.tips_top .browser_list li a i.s{ background-position:-77px -66px;}
.tips_top .browser_list li a i.i{ background-position:0px -66px;}

/* 提示信息页面 */
.bootbox .modal-header { padding: 10px; }
.bootbox .close { border-radius: 0px; }
.bootbox .modal-body { padding: 8px; }
.bootbox .modal-footer { padding: 10px 15px; }
.bootbox .loading-spinner { margin: 40px auto !important; width: 300px !important; line-height: 30px !important; padding: 10px !important; }
.bootbox .loading-spinner span { vertical-align: bottom; color: #31708f; font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif; font-size: 16px; font-weight: bold; }
.bootbox .alert-modal, .bootbox .confirm-modal, .bootbox .error-modal, .bootbox .success-modal { margin: auto 1em; padding-left: 50px; min-height: 48px; height: auto; border: 0px !important; display: block !important; }
.bootbox .alert-modal p, .bootbox .confirm-modal p, .bootbox .error-modal p, .bootbox .success-modal p { font-weight: 400; font-size: 14px; text-align: left; margin: auto 0px !important; }
.bootbox .alert-modal { color: #000000; background: url(../images/error/alert.png) no-repeat left center; }
.bootbox .confirm-modal { color: #8a6d3b; background: url(../images/error/confirm.png) no-repeat left center; }
.bootbox .error-modal { color: #a94442; background: url(../images/error/error.png) no-repeat left center; }
.bootbox .success-modal { color: #3c763d; background: url(../images/error/success.png) no-repeat left center; }
.bootbox-alert .modal-dialog { /* SET THE WIDTH OF THE MODAL 设置Modal的宽度*//*  margin: 250px auto;  */}
.bootbox-confirm .modal-dialog { position: relative; /* margin: 250px auto; */ }
.bootbox-prompt .modal-dialog { position: relative; /* margin: 250px auto; */ }
.bootbox-dialog .modal-dialog { margin: 30px auto; }
.bootbox-300 .modal-dialog { margin: 150px auto; }
