<!DOCTYPE html>
<!--Bootstrap布局框架-->
<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="./css/error.css">
<link rel="stylesheet" type="text/css" href="./css/zftal-ui.css">
<script type="text/javascript" src="./js/bootstrap.min.js" charset="utf-8"></script>	
<style type="text/css"></style>
<body>
	<!-- 头部 开始 -->
	<header class="navbar-inverse top2">
		<div class="container" id="navbar_container">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
						<span class="sr-only"> 考试时间查询</span> 
					</button>
					<a href="" id="topButton" class="navbar-brand">
						考试时间查询
					</a>
					<script type="text/javascript">
						document.title="考试时间查询";
					</script>
				</div>
			</div>
		</div>
	</header>	
	<!--头部 结束 -->
	<div style="width: 100%; padding: 0px; margin: 0px;" id="bodyContainer">
		<div class="container container-func sl_all_bg" id="yhgnPage" style="min-height: 480px;">
			<div id="innerContainer">
            </div>
	    </div>
    </div>
<div id="footerID" class="footer">
	<p>版权所有</p>
</div>