<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>学生成绩查询</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style type="text/css">	
		.active{font-weight: bolder;}
		#navbar-tabs li{ margin-top: 2px;}
		#navbar-tabs li a{ border-top: 2px solid transparent;}
		#navbar-tabs li.active a{border-top: 2px solid #0770cd;}
	</style>	
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/error.css">
	<link rel="stylesheet" type="text/css" href="./css/zftal-ui.css">
</head>
<body>
	<!-- 头部 开始 -->
	<header class="navbar-inverse top2">
		<div class="container" id="navbar_container">
			<div class="container">
				<div class="navbar-header">
					<a href="" id="topButton" class="navbar-brand">学生成绩查询
					</a>
				</div>
			</div>
		</div>
	</header>
	<div style="width: 100%; padding: 0px; margin: 0px;" id="bodyContainer">
		<div class="container container-func sl_all_bg" id="yhgnPage" style="min-height: 454px;">
			<div id="innerContainer">
				<div class="row sl_add_btn">
					<div class="col-sm-12">
						<div class="btn-toolbar" role="toolbar" style="float:right;">
							<div class="btn-group" id="but_ancd">
								<button type="button" class="btn btn-default btn_dc" href="" id="btn_dc"><i class="bigger-100 glyphicon glyphicon-export"></i> 导出</button>
							</div>
						</div>
					</div>
				</div> 
				<form id="searchForm" name="searchForm" onsubmit="return false;" action="" method="post" class="form-horizontal sl_all_form" novalidate="novalidate">
					<div class="row">		
						<div class="col-md-3 col-sm-6">
							<div class="form-group">
								<label  class="col-sm-4 control-label">学年</label>
							</div>
						</div> 
						<div class="col-md-3 col-sm-6">
							<div class="form-group">
								<label  class="col-sm-4 control-label">学期</label>
							</div>
						</div>  	  
					</div> 
				</form>
				<div class="row sl_aff_btn" id="searchBox">  
					<div class="col-md-8 col-sm-8">
					</div>
					<div class="col-md-4 col-sm-5">
						<button type="button" class="btn btn-primary btn-sm" id="search_go"> 查 询 </button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footerID" class="footer">
		<p>计科1601</p>
	</div>
</body>
</html>