<!doctype html>
<html lang="en">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/backstageNavigator.html :: head"></div>
</head>

<body>
<div th:replace="common/backstageNavigator.html :: banner"></div>

<div class="container-fluid" id="HomePage">
    <div class="row">
        <div th:replace="common/backstageNavigator.html :: navi"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">权限状态</h1>
            </div>

            <div class="row mb-2">
                <div class="col-md-6">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <h3 class="mb-0">
                                <a class="text-dark" href="#">学生选课</a>
                            </h3>
                            <h1></h1>

                            <strong  th:if="${power.getSelectCourse()==1}" class="d-inline-block mb-2 text-primary">当前状态：开启</strong>
                            <strong  th:if="${power.getSelectCourse()==0}" class="d-inline-block mb-2 text-primary">当前状态：关闭</strong>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <h3 class="mb-0">
                                <a class="text-dark" href="#">成绩录入</a>
                            </h3>
                            <h1></h1>
                            <strong th:if="${power.getScore()==1}" class="d-inline-block mb-2 text-primary">当前状态：开启</strong>
                            <strong th:if="${power.getScore()==0}" class="d-inline-block mb-2 text-primary">当前状态：关闭</strong>
                            <p class="card-text mb-auto">其他说明</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">当前学期</h1>
            </div>

            <div class="row mb-2">
                <div class="col-md-10">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <h3 class="mb-0">
                                <a class="text-dark" href="#">{{start}}-{{end}} 第{{CurrentSemester}}学期</a>
                            </h3>
                            <h1></h1>
                            <strong class="d-inline-block mb-2 text-primary">开始时间：2019年2月20日</strong>
                            <strong class="d-inline-block mb-2 text-primary">结束时间：2019年6月20日</strong>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
    var homePage = new Vue({
        el :'#HomePage',
        data:{
            start: '[[${currentSemesterInfo.start}]]',
            end: '[[${currentSemesterInfo.end}]]',
            CurrentSemester: '[[${currentSemesterInfo.semester}]]'
        }

    })
</script>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

</body>

</html>