<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="app/header::static">
    <meta charset="gbk"/>
</head>

<body style="background:#fafafa;">
	<div class="container container_1170">
		<div class="row sl_log_top">
			<div class="col-sm-8 logo_1"><img src="./images/logo_jw_d.png" style="margin-top:-3px">
				<span id="xtmc">盗版教务管理系统</span>
			</div>
		</div>
		<div class="row sl_log_bor4">
			<div class="col-sm-8 hidden-xs sl_log_lf">
				<img class="img-responsive" src="./images/login_bg_pic.jpg">
			</div>
			<div class="col-sm-4 sl_log_rt">
				<form class="form-horizontal" role="form" action="/login" method="post">
					<h5>用户登录</h5>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><img src="./images/log_ic01.png" width="16" height="16"></div>
							<input type="text" class="form-control" name="account" id="yhm" placeholder="用户名" required="required">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><img src="./images/log_ic02.png" width="16" height="16"></div>
							<input type="password" class="form-control" name="password" id="mm" value="" placeholder="密码" required="required">
						</div>
					</div>
					 <div class="form-group" id="myDiv">
						   <a href="#" id="wjmm" class="checkbox pull-right " target="_blank">忘记密码了？</a>
						
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block" id="dl">登 录</button>
					</div>
					<p style="color: red;" th:if="${error_msg} != null">[[ ${error_msg} ]]</p>
				</form>
				<div class="sl_log_ewm hidden-xs">
					<img src="./images/money.jpg" style="width: 322px;height: auto;">&nbsp;&nbsp;
				</div>
			</div>
		</div>
	</div> 
<div id="footerID" class="footer">
	<p>版权所有© 北京化工大学 计科1601班</p>
</div>
</body>
</html>