<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>毕业设计管理</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" type="text/css" rel="stylesheet">
    <!-- <link href="scoreboard.css" rel="stylesheet">-->
    <!-- Custom styles for this template -->
    <link href="dashboard.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-1.js"></script>
    <!--Bootstrap布局框架-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <!--<link rel="stylesheet" type="text/css" href="css/zftal-ui.css" />-->
    <!--jQuery常用工具扩展库：基础工具,资源加载工具,元素尺寸相关工具 -->
    <script type="text/javascript" src="js/jquery_008.js" charset="utf-8"></script>
    <!--jQuery.chosen美化插件-->
    <link rel="stylesheet" type="text/css" href="css/chosen-min.css" />
    <script type="text/javascript" src="js/jquery_016.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/zh_CN-min.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/jquery_017.js" charset="utf-8"></script>
    <!-- <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"> -->

</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">毕业设计管理</a>
    <!--input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"-->
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="GraduationProject.html">登出</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/ManageQues">
                            <span data-feather="activity"></span>
                            论题浏览
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/ManageScore">
                            <span data-feather="airplay"></span>
                            成绩浏览
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            <span data-feather="edit"></span>
                            成绩修改
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="table-responsive">

                <form method="post" action="#" th:action="@{/ManageScore}">
                    <div class="form-group">
                        <label for="earlyperformance">初期表现(10%)</label>
                        <input type="text" name="earlyperformance" class="form-control" id="earlyperformance" th:value="${Score.earlyperformance}">
                    </div>
                    <div class="form-group">
                        <label for="midexam">中期考核(20%)</label>
                        <input type="text" name="midexam" class="form-control" id="midexam" th:value="${Score.midexam}">
                    </div>
                    <div class="form-group">
                        <label for="thesisanswer">答辩(30%)</label>
                        <input type="text" name="thesisanswer" class="form-control" id="thesisanswer" th:value="${Score.thesisanswer}">
                    </div>
                    <div class="form-group">
                        <label for="paper">论文(30%)</label>
                        <input type="text" name="paper" class="form-control" id="paper" th:value="${Score.paper}">
                    </div>
                    <div class="form-group">
                        <label for="extracredit">额外加分(10%)</label>
                        <input type="text" name="extracredit" class="form-control" id="extracredit" th:value="${Score.extracredit}">
                    </div>
                        <!-- <input type="submit" value="提交"> -->
                        <!-- <input type="text" name="questionid" th:value="${isChanged.questionid}" style="display:none;" />
                        <input type="text" name="sno" th:value="${isChanged.sno}" style="display:none;" /> -->
                    <div>
                        <input type="text" name="questionid" th:value="${Score.questionid}" style="display:none;">
                        <input type="text" name="sno" th:value="${Score.sno}" style="display:none;">
                        <input type="submit" class="btn btn-outline-primary btn-sm" value="保存">
                    </div>
                    </form>
            </div>
        </div>
    </main>
</div>
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

</body>

</html>