<!DOCTYPE HTML>
<!DOCTYPE html PUBLIC "">
<HTML lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:each="http://www.w3.org/1999/xhtml"
	  xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>学生选课系统</title>
        <!--网站引用Vue文件 -->
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/zftal-ui.css" />
    <link href="css/selectcourse.css" rel="stylesheet" type="text/css">
</head>
<BODY>
<header class="navbar-inverse top2">
	<div class="container" id="navbar_container">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
					<span class="sr-only">学生选课</span>
				</button>
				<A class="navbar-brand" id="topbutton" href="">学生选课</A>
			</div>
		</div>
	</div>
</header>
<!--头部 结束 -->
<div id="bodyContainer" style="margin: 0px; padding: 0px; width: 100%;">
	<div class="container container-func sl_all_bg" id="yhgnPage">
		<div class="panel panel-info">
			<div class="panel-heading">&nbsp;</div>
			<!--在下面开始写布局部分-->
			<div id="selectcourse_content">
            <!--第一部分：查询-->
			<form role="form" name="form1">
				<div class="form-group">
					<div class="input-group" style="position: relative; top: 8px;margin: 0px 15px;">
						<input type="text" class="form-control"  id="IDCard" name="IDCard" placeholder="请输入课程名称或课程号进行查询" style="" required v-model="input_search">
						<span class="input-group-btn">
                    <button class="btn btn-default" type="button" @click="search(input_search)" style="">查询</button>
                </span>
					</div>
				</div>
			</form>

			<!--第二部分-->
			<table id="selectcourse_selector">
				<tr>
					<th><label>学院:</label></th>
					<td>
						<label @click="getdata()">
							所有
							<input type="radio" name="college" value="" checked v-model="input_college">
						</label>
						<label class="section" th:each="college : ${colleges}" @click="getdata()">
							[[${college.collegeName}]]
							<input type="radio" name="college"  th:value="${college.collegeName}" v-model="input_college"/>
						</label>
					</td>
				</tr>
				<tr>
					<th><label>剩余量:</label></th>
					<td>
						<label>
							所有
							<input type="radio" name="capacity" value="" v-model="input_capacity" checked @click="getdata()">
						</label>
						<label>
							有
							<input type="radio" name="capacity" value="0" v-model="input_capacity"  @click="getdata()">
						</label>
						<label>
							无
							<input type="radio" name="capacity" value="2" v-model="input_capacity"  @click="getdata()">
						</label>
					</td>
				</tr>
			</table>
			<!--第四部分-->
			<div class="container" style="width: -webkit-fill-available;">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<div class="tabbable" id="tabs-217540">
							<ul class="nav nav-tabs">
								<li class="active">
									 <a href="#panel-first" data-toggle="tab"  @click="getdata()">公共选修</a>
								</li>
								<li>
									 <a href="#panel-second" data-toggle="tab"  @click="getdata()">专业选修</a>
								</li>
								<li>
									 <a href="#panel-third" data-toggle="tab"  @click="getdata()">通识</a>
								</li>
							</ul>
							<div class="tab-content">
							<!-- 1公共选修 -->
								<div class="tab-pane active" id="panel-first">
									<!-- 如果存在记录 -->
									<div class="panel-group"  id="panel-1">
										<div v-if="msgs == null" style="width: 200px;margin: auto;">
											没有可用的选课记录
										</div>
										<div class="panel panel-default" v-for= "msg in msgs" v-if="msg.courseStatus == 1" v-cloak>
											<div class="panel-heading">
												 <a class="panel-title" data-toggle="collapse" data-parent="#panel-1" v-bind:href="'#panel-element-'+msg.cno">{{msg.cno}}-{{msg.cname}}(教课老师:{{msg.tname}})-{{msg.college}} </a>
											</div>
											<div v-bind:id="'panel-element-'+msg.cno" class="panel-collapse collapse">
												<div class="panel-body">
													<div>{{msg.description}}</div>
													<div style="font-weight: bold;">上课时间:{{msg.startWeek}} ~ {{msg.endWeek}}周，每周星期{{msg.week}} {{msg.startStep}} ~ {{msg.endStep}}节</div>
													<div style="font-weight: bold;">上课地点:{{msg.address}}</div>
													<div style="font-weight: bold;">剩余容量:{{msg.capacity}}</div>
													<div style="text-align: right;">
													<button type="button" v-bind:class="'btn btn-default btn-primary '+canbeselect(msg.capacity,1)" @click="select_course(msg.cno)">选课</button>
														<button type="button" v-bind:class="'btn btn-default btn-danger '+ canbeselect(msg.capacity,2)" @click="cancel_course(msg.cno)">退选</button></div>
												</div>
											</div>
										</div>
									</div>
								</div>						
							<!-- 2专业选修 -->
								<div class="tab-pane" id="panel-second">
									<div class="tab-pane active" id="panel-second">
										<!-- 如果存在记录 -->
										<div class="panel-group"  id="panel-2">
											<div v-if="msgs == null" style="width: 200px;margin: auto;">
												没有可用的选课记录
											</div>
											<div class="panel panel-default" v-for= "msg in msgs" v-if="msg.courseStatus == 2" v-cloak>
												<div class="panel-heading">
													 <a class="panel-title" data-toggle="collapse" data-parent="#panel-2" v-bind:href="'#panel-element-'+msg.cno">{{msg.cno}}-{{msg.cname}}(教课老师:{{msg.tname}})-{{msg.college}} </a>
												</div>
												<div v-bind:id="'panel-element-'+msg.cno" class="panel-collapse collapse">
													<div class="panel-body">
														<div>{{msg.description}}</div>
														<div style="font-weight: bold;">上课时间:{{msg.startWeek}} ~ {{msg.endWeek}}周，每周星期{{msg.week}} {{msg.startStep}} ~ {{msg.endStep}}节</div>
														<div style="font-weight: bold;">上课地点:{{msg.address}}</div>
														<div style="font-weight: bold;">剩余容量:{{msg.capacity}}</div>
														<div style="text-align: right;">
														<button type="button" v-bind:class="'btn btn-default btn-primary '+canbeselect(msg.capacity,1)" @click="select_course(msg.cno)">选课</button>
														<button type="button" v-bind:class="'btn btn-default btn-danger '+ canbeselect(msg.capacity,2)" @click="cancel_course(msg.cno)">退选</button></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							<!-- 3通识课 -->
								<div class="tab-pane" id="panel-third">
									<div class="tab-pane active" id="panel-third">
									<!-- 如果存在记录 -->
										<div class="panel-group"  id="panel-3">
											<div v-if="msgs == null" style="width: 200px;margin: auto;">
												没有可用的选课记录
											</div>
											<div class="panel panel-default" v-for= "msg in msgs" v-if="msg.courseStatus == 3" v-cloak>
												<div class="panel-heading">
													 <a class="panel-title" data-toggle="collapse" data-parent="#panel-3" v-bind:href="'#panel-element-'+msg.cno">{{msg.cno}}-{{msg.cname}}(教课老师:{{msg.tname}})-{{msg.college}} </a>
												</div>
												<div v-bind:id="'panel-element-'+msg.cno" class="panel-collapse collapse">
													<div class="panel-body">
														<div>{{msg.description}}</div>
														<div style="font-weight: bold;">上课时间:{{msg.startWeek}} ~ {{msg.endWeek}}周，每周星期{{msg.week}} {{msg.startStep}} ~ {{msg.endStep}}节</div>
														<div style="font-weight: bold;">上课地点:{{msg.address}}</div>
														<div style="font-weight: bold;">剩余容量:{{msg.capacity}}</div>
														<div style="text-align: right;">
														<button type="button" v-bind:class="'btn btn-default btn-primary '+canbeselect(msg.capacity,1)" @click="select_course(msg.cno)">选课</button>
														<button type="button" v-bind:class="'btn btn-default btn-danger '+ canbeselect(msg.capacity,2)" @click="cancel_course(msg.cno)">退选</button></div>
														</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<script th:inline="javascript">
			var vm = new Vue({
				el:"#selectcourse_content",
				data:{
					input_search:"",
					msgs:null,
					input_college:"",
					input_capacity:""
				},
				methods:{
					getdata:function(){						
						this.$http.post("/filtercourse",{
							college:this.input_college,
							cno:"",
							cname:"",
							tname:"",
							capacity:this.input_capacity
						},
							{emulateJSON:true}).then(function (value) {
			                console.log(value)
			                this.msgs=value.body.data;

			            },function (reason) {
			                alert("请求出错");
			            })
					},
					canbeselect:function(capacity,flag){
						if(flag == 1){
							if(capacity != 0)
								return '';
							else 
								return 'disabled';
						}
						else{
							//退选选项
							if(capacity == 0)
								return 'disabled';
							else 
								return '';
						}
					},
					search:function(){
						
					},
					select_course:function(coursenumber){
						this.$http.post("/setcourseselected",{
							cno:coursenumber
						},
						{emulateJSON:true}).then(function(value){
							console.log(value)
							if(value.body.code == 200)
								alert("选课成功")
							else
								alert("选课失败,可能原因:容量不足或已选上")
						},function(reason){
							alert("选课失败,可能原因:容量不足或已选上");
						})
					},
					cancel_course:function(coursenumber){
						this.$http.post("/canclecourse",{
							cno:coursenumber
						},
						{emulateJSON:true}).then(function(value){
							console.log(value)
							if(value.body.code == 200)
								alert("退选成功")
							else
								alert("退课失败,可能原因:未选择此课")
						},function(reason){
							alert("退课失败,可能原因:未选择此课");
						})
					}
				},
				mounted:function(){
					this.getdata()
				}
			})
		</script>
			<!-- 右侧内容开始 -->
		<div class="outer" id="left-content">
			<div class="outer_left">
				<A class="glyphicon glyphicon-arrow-left btn-lg" href=""></A>
				<A class="outer_left_xkxx" href="javascript:;">
					<H5>选课信息</H5>
					<span>已选 <B id="yxkts" style="margin-bottom: 6px;">0</B></span>
				</A>
			</div>
			<div class="outer_right" id="wrapper">
				<div class="right_div" id="right_div" style="margin-top: 10px;">
					<div class="outer_xkxx_list">
						<H6>已选课程<span class="pull-right"></span></H6>
						<UL class="list-group" id="right_ul_xsxt" data-listidx="0"></UL>
					</div>
				</div>
				<tr th:each="course : ${courseselectedlist}">
					<td>[[ ${course.cno} ]]</td>
				</tr>
				<!--这里写的是已选课的列表-->
			</div>
		</div>
		<script>
			$(".outer").animate({width:"40px"},1000);
			$(".outer_left").click(function() {
				if($(".outer").css("width")	==	"40px")
				{
					$(".outer").animate({width:"740px"},600);
					$(".outer_left .glyphicon").addClass("glyphicon-arrow-right");
				}
				else
				{
					$(".outer").animate({width:"40px"},600);
					$(".outer_left .glyphicon").removeClass("glyphicon-arrow-right");
				}
			});
		</script>
	</div>
</div>
<div class="footer" id="footerID">
	<P>版权所有? Copyright 计科1601</P>
</div>
</BODY>
</HTML>