<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"content="text/html" charset="UTF-8">
    <title>学生选课页面</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/selectcourse/vue.min.js"></script>
    <script src="js/selectcourse/vue-resource.min.js"></script>

    <script type="text/javascript" src="js/selectcourse/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/selectcourse/bootstrap.min.css" />
    <script type="text/javascript" src="js/selectcourse/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/selectcourse/zftal-ui.css" />
    <link href="css/selectcourse/selectcourse.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        body{margin:0;padding:0}
        .up1{width:90%;height:5%;background: white;margin:20px auto}
        .up2{width:90%;height:45%;background: white;margin:20px auto}
        .down{width:90%;height:45%;background: white;margin:20px auto }
    </style>
</head>
<body>
<!--<div class="top">-->
    <!--<h2 class="text-black-50 text-center">学生已选题页面</h2>-->
<!--</div>-->
<header class="navbar-inverse top2">
    <div class="container" id="navbar_container">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">学生选课</span>
                </button>
                <A class="navbar-brand" id="topbutton" href="">学生选课</A>
            </div>
        </div>
    </div>
</header>
<div class="up1">
    <div class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/StuLookThroughQues">选题首页</a></li>
            <li><a href="/StuChoice">已选课题</a></li>
            <li><a href="/StuScore">关于成绩</a></li>
        </ul>
    </div>
</div>
<div class="up2">
    <div class="panel panel-default">
        <div class="alert alert-info text-center" role="alert">您已经选择但未被老师确认的选题</div>
        <div class="panel-body">
            <div class="pre-scrollable " style="overflow:scroll;">
                <table class="table table-striped table-bordered table-hover" style="min-width: 1400px;" >
                    <thead>
                    <tr>
                        <th>题目ID</th>
                        <th>标题</th>
                        <th>难度</th>
                        <th>是否选中</th>
                        <th>详情</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="queslnfo : ${quesInfos}">
                        <div th:if="${queslnfo.ischosen==false}">
                            <td th:text="${queslnfo.questionid}">表格单元格</td>
                            <td th:text="${queslnfo.topic}">表格单元格</td>
                            <td th:text="${queslnfo.difficulty}">表格单元格</td>
                            <td th:text="${queslnfo.ischosen}">表格单元格</td>
                            <td >
                                 <a th:href="@{'/StuQuesDetails?questionid='+${queslnfo.questionid}}">详情</a>
                            </td>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="down">
    <div class="panel panel-default">
        <div class="alert alert-success text-center" role="alert">老师已经确认您的选题</div>
        <div class="panel-body ">
            <div style="overflow:scroll;">
                <table class="table table-striped table-bordered table-hover" style="min-width: 1400px" >
                    <thead>
                    <tr>
                        <th>题目ID</th>
                        <th>标题</th>
                        <th>难度</th>
                        <th>是否选中</th>
                        <th>详情</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="queslnfo : ${quesInfos}">
                        <div th:if="${queslnfo.ischosen==true&&session.user.getAccount()==queslnfo.sno}" >
                            <td th:text="${queslnfo.questionid}">表格单元格</td>
                            <td th:text="${queslnfo.topic}">表格单元格</td>
                            <td th:text="${queslnfo.difficulty}">表格单元格</td>
                            <td th:text="${queslnfo.ischosen}">表格单元格</td>
                            <td >
                                <a th:href="@{'/StuQuesDetails?questionid='+${queslnfo.questionid}}">详情</a>
                            </td>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="footerID" class="footer">
    版权所有&copy; Copyright 2016-2019 计科1601班
</div>
</body>
</html>