<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<header th:replace="app/header::static"></header>
<body class="body-container">
<div th:replace="app/header::header"></div>
<!-- 菜单  -->
<div th:replace="app/header::menu"></div>
<!-- 主体 -->
<div class="container padding-150">
					<div class="row">
						<div class="col-md-3 col-sm-4">
							<div class="index_wdyy">
								<h3><span>我的应用</span><a href="" class="sz" id="wdyy_szbtn"></a></h3>
								<ul class="list-unstyled mCustomScrollbar _mCS_1 mCS_no_scrollbar" style="height: 350px;">
									<li class="col-md-4 col-sm-4 col-xs-6">
						<a href="" target="_blank" title="学生选题">
							<img src="images/ico_but42.png" alt="学生选题" />
							<h5>学生选题</h5>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-9 col-sm-8">
			<div class="row">
				<div class="col-md-12">
					<div class="index_grxx">
						<div class="row">
							<div class="col-md-5" id="yhxxIndex">
								<div class="media">
									<a class="pull-left" href=""> <img class="media-object" alt="110x110" src="images/photo_cxXszp.html" style="width: 110px; height: 110px;" /> </a>
									<div class="media-body">
										<h4 class="media-heading">高谦</h4>
										<p>信息科学与技术学院 计科1601</p>
									</div>
								</div>
							</div>
							<div class="col-md-7 mCustomScrollbar _mCS_3 mCS_no_scrollbar" id="newsnotice" style="height: 150px;">
								<div id="mCSB_3" class="mCustomScrollBox mCS-dark-3 mCSB_vertical mCSB_inside" tabindex="0">
									<div id="mCSB_3_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
										<h5 class="index_title"><span class="title">通知</span></h5>
										<div class="list-group">
											<a href="" target="_blank" class="list-group-item">
														<span class="title"> 
														<font color="black">【通知】</font> 关于2017年12月大学外语四、六级考试报名及有关... 
														</span>
												<i class="index_png new"></i>
												<span class="time float_r">2017-09-04</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="index_rctx">
						<h5 class="index_title"><span class="title">课表</span></h5>
						<a target="_blank" class="list-group-item">
							<span class="title"> 5-8周(7-9节)-星期二-大学生就业与创业指导-北区-B阶-203-汪雪琴 </span>
						</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="index_rctx">
						<h5 class="index_title"><span class="title">文件</span></h5>
						<div class="list-group">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="index_rctx">
						<h5 class="index_title"><span class="title">消息</span></h5>
						<div class="list-group">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="index_rctx">
						<h5 class="index_title"><span class="title">成绩</span></h5>
						<div class="list-group">
							<a class="list-group-item">
								<span class="title"> 2018-2019-1-专业必修-数据库原理 </span>
								<span class="fraction float_r">100</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="footerID" class="footer">
	版权所有&copy; Copyright 2016-2019 计科1601班
</div>
</body>
</html>