<!DOCTYPE html>
<HTML lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>添加论题页面</title>
    <script src="js/selectcourse/vue.min.js"></script>
    <script src="js/selectcourse/vue-resource.min.js"></script>
    <script type="text/javascript" src="js/selectcourse/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/selectcourse/bootstrap.min.css" />
    <script type="text/javascript" src="js/selectcourse/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/selectcourse/zftal-ui.css" />
    <link href="css/selectcourse/selectcourse.css" rel="stylesheet" type="text/css">
    <script>
        function f(isAdded) {
            if(isAdded==1)
                alert("添加成功！");
            else if(isAdded==0)
                alert("添加失败！");
        }
    </script>
    <style type="text/css">
        body{margin:0;padding:0}
        .top{height:50px;background: #7abaff}
        .up{width:90%;height:25%;background: white;margin:20px auto}
        .down{width:90%;height:70%;background: white;margin:20px auto}
        .foot{height:5%;background:antiquewhite;margin:0 auto}
    </style>
</head>
<body th:onload="'javascript:f('+${isAdded}+');'">
<header class="navbar-inverse top2">
    <div class="container" id="navbar_container">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only" style="gray">发布论题</span>
                </button>
                <A class="navbar-brand" id="topbutton" href="">发布论题</A>
            </div>
        </div>
    </div>
</header>
<div id="bodyContainer" style="margin: 0px; padding: 0px; width: 100%;">
    <div class="container container-func sl_all_bg" id="yhgnPage" style=" height: 500px;">
            <div class="panel panel-info"  >
                <div class="panel-heading">&nbsp;</div>
                <form role="form" method="post" action="#" th:action="@{/TeaAddQues}" style="padding-left:20px; padding-right:20px;">
                    <div class="form-group">
                        <label for="topic" style="font-size: 23px">论题题目</label>
                        <input type="text" class="form-control" name="topic" id="topic" placeholder="文本输入" required="required">
                    </div>
                    <div class="form-inline">
                        <label for="difficulty" style="font-size: 23px">论题难度</label>
                        <select  class="form-control text-center" name="difficulty" id="difficulty" style="height:32px">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="majorid" style="font-size: 23px">专业</label>
                            <input type="text" class="form-control" name="majorid" id="majorid" placeholder="文本输入" required="required">
                    </div>
                    <div class="form-group">
                        <label for="content" style="font-size: 23px">论题详情</label>
                        <textarea class="form-control" name="content" id="content" rows="3" required="required"></textarea>
                    </div>
                    <div data-role="controlgroup" data-type="horizontal" style="text-align: center;">
                        <input class="btn btn-primary btn-sm btn-block" type="submit" data-type="btn" data-inline="true" value="发布">
                    </div>
                </form>
            </div>
    </div>
</div>
<div id="footerID" class="footer">
    版权所有&copy; Copyright 2016-2019 计科1601班
</div>
</body>
</html>