<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <title></title>
</head>
<body>
<!-- 学生编辑页面 -->
<div data-role="page" id="teaChangeVue">
    <!--头部-->
    <div data-role="header" style="background-color: steelblue" data-position="fixed">
        <a href="#index" class="ui-btn ui-shadow ui-corner-all ui-icon-home ui-btn-icon-notext" style="background-color: steelblue"></a>
        <h1>北京化工大学教务网</h1>
    </div>
    <!--主部-->
    <div data-role="main" class="ui-content">
        <h3>工号:[[${teacher.tno}]]</h3>
        <form>
            <fieldset data-role="fieldcontain">
                <label>姓名:</label>
                <input type="text" v-model="tname" placeholder="姓名..">
                </br>

                <label>性别:</label>
                <select name="sex" id="teaSex" v-model="sex" placeholder="">
                    <option>男</option>
                    <option>女</option>
                </select>
                </br>

                <label>电话号码:</label>
                <input type="text" v-model="phone" placeholder="电话号码..">
                </br>

                <label>电邮:</label>
                <input type="text" v-model="email" placeholder="电邮..">
                </br>

                <label>学院:</label>
                <input type="text" v-model="college" placeholder="学院..">
                </br>

                <label>岗位:</label>
                <input type="text" v-model="office" placeholder="岗位..">
                </br>

                <label>职称:</label>
                <input type="text" v-model="title" placeholder="职称..">
            </fieldset>
            <a data-role="button" data-icon="edit" class="ui-right" @click="modiTeacher()">修改</a> <!--##############参数################-->
        </form>
    </div>
</div>
</body>
<script>
    var tea = new Vue ({
        el: '#teaChangeVue',
        data: {
            tname:null,
            sex:null,
            phone:null,
            email:null,
            college:null,
            office:null,
            title:null
        },
        methods: {
            modiTeacher: function (parm) {
                alert("12312")
                // this.$http.post("/**********",{tno:parm,tname:this.tname,college:this.college,sex:this.sex,
                //         office:this.office,title:this.title,phone:this.phone,email: this.email},
                //     {emulateJSON:true}).then(function(value) {
                //     if(value.body.code == 1) {
                //         alert("修改成功！");
                //     } else {
                //         alert("修改失败!");
                //     }
                // })
            }
        }
    })
</script>

</html>