<!DOCTYPE html>
<HTML lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>论题详情页面</title>
    <script src="js/selectcourse/vue.min.js"></script>
    <script src="js/selectcourse/vue-resource.min.js"></script>
    <script type="text/javascript" src="js/selectcourse/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/selectcourse/bootstrap.min.css" />
    <script type="text/javascript" src="js/selectcourse/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/selectcourse/zftal-ui.css" />
    <link href="css/selectcourse/selectcourse.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        body{margin:0;padding:0}
        .top{height:50px;background: #7abaff}
        .up{width:90%;height:25%;background: white;margin:20px auto}
        .down{width:90%;height:70%;background: white;margin:20px auto}
        .foot{height:5%;background: wheat;margin:0 auto}
    </style>
<body>
<header class="navbar-inverse top2">
    <div class="container" id="navbar_container">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only" style="gray;">论题详情</span>
                </button>
                <A class="navbar-brand" id="topbutton" href="">论题详情</A>
            </div>
        </div>
    </div>
</header>
<div class="down">
    <div class="pre-scrollable " style="overflow:scroll;">
        <div class="panel-heading">
            <div class="alert alert-info" role="alert" style="padding-left:20px;">
                <p th:text="${question.topic}"></p>
            </div>
            <div style="padding-left:20px;">
                <p th:text="${question.content}"></p>

                <!--<div class="text-right">-->
                <!--<button type="button" class="btn btn-default">修改</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<div id="bodyContainer" style="margin: 0px; padding: 0px; width: 100%;">
    <div class="container container-func sl_all_bg" id="yhgnPage" >
        <div class="pre-scrollable " style="overflow:scroll;">
            <div class="panel panel-info"  >
                <div class="panel-heading">&nbsp;</div>
                <table class="table table-striped table-bordered table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>是否选中</th>
                        <th>学生名</th>
                        <th>学号</th>
                        <th>性别</th>
                        <th>专业ID</th>
                        <th>班级</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="student:${students}">
                        <td th:text="已被选中" th:if="${session.snoSured==student.sno}"></td>
                        <td th:text="未被选中" th:if="${session.snoSured!=student.sno}"></td>
                        <td th:text="${student.sname}"> </td>
                        <td th:text="${student.sno}"></td>
                        <td th:text="${student.sex}"></td>
                        <td th:text="${student.major}"></td>
                        <td th:text="${student.klass}"></td>
                        <!--<td th:text="${isSured}">-->
                        <td>
                            <form method="post" action="#" th:action="@{/sureQuesStu}">
                                <input type="text" name="sno" th:value="${student.sno}" style="display:none;" />
                                <input type="text" name="questionid" th:value="${question.questionid}" style="display:none;" />
                                <input type="submit" name="sumbit" value="选择"  />
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="down">
    <p class="text-right"><a href="TeaLookThroughQues" >Come back »</a></p>
</div>
<div id="footerID" class="footer">
    版权所有&copy; Copyright 2016-2019 计科1601班
</div>
</body>
<body>
<div class="modal" id="mymodal-data" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">模态弹出窗标题</h4>
            </div>
            <div class="modal-body">
                <p>模态弹出窗主体内容</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>