<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="buct.software.dao.GradeManagementDao">
    <!--学生端-->
    <resultMap id="getCourseGradeMap" type="buct.software.domain.SelectCourse">
        <!--select_course表信息    id是查询结果的唯一标识-->
        <id column="semesterid" javaType="Integer" jdbcType="INTEGER" property="semesterId"></id>
        <result column="cno" javaType="Integer" jdbcType="INTEGER" property="cno"></result>
        <result column="sno" javaType="Integer" jdbcType="INTEGER" property="sno"></result>
        <result column="grade" javaType="Integer" jdbcType="INTEGER" property="grade"></result>
        <result column="detail" javaType="String" jdbcType="VARCHAR" property="detail"></result>
    </resultMap>

    <select id="getCourseGrade" parameterType="buct.software.domain.SelectCourse" resultMap="getCourseGradeMap">
        select * from select_course where semesterid=#{semesterId} and sno=#{sno}
    </select>

    <!--教师端-->
    <select id="getStudentGrade" parameterType="buct.software.domain.SelectCourse" resultMap="getCourseGradeMap">
        select * from select_course where semesterid=#{semesterId} and cno=#{cno} and sno=#{sno}
    </select>

    <update id="setStudentGradeById" parameterType="buct.software.domain.SelectCourse">
        update select_course set detail = #{detail} where semesterid=#{semesterId} and sno=#{sno} and cno=#{cno}
    </update>

</mapper>