<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="buct.software.dao.QuestionStudentDao">
    <!--id对应的是dao中方法-->
    <insert id="chooseQuestion" parameterType="Map">
        insert into question_student(
          questionid,
          sno
        )values(
          #{questionid},
          #{sno}
        )
    </insert>

    <select id="getChoiceByQid" parameterType="int" resultType="QuestionStudentChoose">
        select * from question_student where questionid = #{questionid}
    </select>
    <select id="getChoiceByQidSno" parameterType="Map" resultType="QuestionStudentChoose">
        select * from question_student where questionid = #{questionid} and sno = #{sno}
    </select>

    <select id="getChoiceBySno" parameterType="int" resultType="QuestionStudentChoose">
        select * from question_student where sno = #{question}
    </select>

    <select id="getChoiceByTno" parameterType="int" resultType="QuestionStudentChoose">
        select * from question_student where questionid in (
          select questionid from question where tno = #{tno}
        )
    </select>
</mapper>