<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--author 高谦-->
<!-- implements 孟庆强 -->
<mapper namespace="buct.software.dao.TeacherDao">
    <select id="getByTno" parameterType="Integer" resultType="buct.software.domain.Teacher">
        select * from teacher where teacher.tno=#{tno}
    </select>
    <insert id="insertTeacher" parameterType="buct.software.domain.Teacher">
        insert into teacher values (#{tno},#{tname},#{sex},#{phone},#{email},#{collegeId},#{office},#{rank})
    </insert>
    <select id="queryByExample" parameterType="buct.software.domain.Teacher" resultType="buct.software.domain.Teacher">
        select * from teacher
        <where>
            <if test="tno != null">
                tno = #{tno}
            </if>
            <if test="tname != null">
                and tname = #{tname}
            </if>
            <if test="sex != null">
                and sex = #{sex}
            </if>
            <if test="phone != null">
                and phone = #{phone}
            </if>
            <if test="email != null">
                and email = #{email}
            </if>
            <if test="collegeId != null">
                and collegeId = #{collegeId}
            </if>
            <if test="office != null">
                and office = #{office}
            </if>
            <if test="rank != null">
                and rank = #{rank}
            </if>
        </where>
    </select>
    <update id="updateTeacher" parameterType="buct.software.domain.Teacher">
        update teacher
        <set>

            <if test="tname != null">
                , tname = #{tname}
            </if>
            <if test="sex != null">
                , sex = #{sex}
            </if>
            <if test="phone != null">
                , phone = #{phone}
            </if>
            <if test="email != null">
                , email = #{email}
            </if>
            <if test="collegeId != null">
                , collegeId = #{collegeId}
            </if>
            <if test="office != null">
                , office = #{office}
            </if>
            <if test="rank != null">
                , rank = #{rank}
            </if>
        </set>
        where tno = #{tno}
    </update>

    <select id="getTeacherByTnoAndTname" resultType="buct.software.domain.Teacher">
      <bind name="_tno" value="'%' + tno + '%'"></bind>
      <bind name="_tname" value="'%' + tname + '%'"></bind>
        select * from teacher
        <where>

            <if test="tno != -1">
                and
                teacher.tno like #{_tno}
            </if>
            <if test="tname != 'null'">
                and
                teacher.tname like #{_tname}
            </if>
        </where>
    </select>
</mapper>